#defaultCanvas0 {
    display: flex;
    place-items: center;
    width: 100%;
}

.header {
    text-align: center;
    margin-bottom: 5vh;
}

.header p {
    font-size: 36px;
}
.clear-button, .runML {
    background-color: #c2004b;
    color: white;
    padding: 10px 40px;
    font-size: large;
    border: none;
    border-radius: 5px;
}


.runML {
    background-color: teal;
}
.clear-button:hover  {
    cursor: pointer;
}